{
  "name": "<%= app_name %>",
  "private": true,
  "dependencies": {
    "react": "^18.2.0",
    "react-dom": "^18.2.0"
  },
  "devDependencies": {
    "@types/react": "^18.2.0",
    "@types/react-dom": "^18.2.0",
    "esbuild": "^0.20.0",
    "typescript": "^5.3.0"
  },
  "scripts": {
    "build": "esbuild app/frontend/**/*.{ts,tsx} --bundle --format=esm --outdir=app/assets/builds",
    "build:watch": "esbuild app/frontend/**/*.{ts,tsx} --bundle --format=esm --outdir=app/assets/builds --watch",
    "typecheck": "tsc --noEmit"
  }
}
